<div id="login" class="modal fade" data-backdrop="static">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title">Login</h4>
            </div>
            <div class="modal-body">
              <div>
              <div class="pane-left col col-xs-6">
               <script type="text/javascript">
               var oa = document.createElement('script');
               oa.type = 'text/javascript'; oa.async = true;
               oa.src = 'http://beeport.api.oneall.com/socialize/library.js'
               var s = document.getElementsByTagName('script')[0];
               s.parentNode.insertBefore(oa, s)
              </script>
              <script type="text/javascript">
               var _oneall = _oneall || [];
               _oneall.push(['social_login', 'set_providers', ['facebook', 'google', 'twitter']]);
               _oneall.push(['social_login', 'set_custom_css_uri', 'https://oneallcdn.com/css/api/socialize/themes/buildin/signin/large-v1.css']);
               _oneall.push(['social_login', 'set_grid_sizes', [1,]]);
               _oneall.push(['social_login', 'do_render_ui', 'oa_social_login_container']);
               _oneall.push(['social_login', 'set_callback_uri', '{% url "oneall_auth" %}']);
              </script>
              <div id="oa_social_login_container"></div>
              </div>
              <div class="pane-right col col-xs-6">
                <form role="form" method="post" action="." >
                  {% csrf_token %}
                 <div class="form-group">
                  <label for="name">E-Mail:</label>
                  <input type="text" class="form-control" id="title" name="email">
                </div>
                <div class="form-group">
                  <label for="name">Şifre:</label>
                  <input type="password" class="form-control" id="title" name="password">
                </div>
                <input type="hidden" name="action" value="login">
              </div>
            </div>
              </div>             
            <div class="modal-footer">
              <a href="/forgot_pass/">Şifremi Unuttum</a>
              <button type="button" class="btn btn-default" data-dismiss="modal">Kapat</button>
              <button type="submit" class="btn btn-primary">Oturum Aç</button>
            </div>
          </form>
        </div>
      </div>
    </div>