    {% include "header.html" %}
    <div class="container">
    	<h3 align="left">Videolarım<span>({{ video_count }})</span></h3>
    	<table class="table table-striped table-bordered" cellspacing="0" width="100%">
    		<tr>
    			<th><input id="all_input" type="checkbox"></th>
    			<th>
    				<!-- Small button group -->
    				<div class="btn-group">
    					<button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown">
    						Eylemler <span class="caret"></span>
    					</button>
    					<ul class="dropdown-menu" role="menu">
    						<li><a href="#add_to_list" data-toggle="modal" id="addlist">Listeye Ekle</a></li>
    						<li><a href="#addtag" data-toggle="modal" id="add_tag">Etiket Ekle</a></li>
    						<li><a href="#update_cat" data-toggle="modal">Kategori Değiştir</a></li>
    						<li><a href="#delmulti" id="delmulti">Sil</a></li>
    						<li><a href="#multipublic" id="multipublic">Herkese Açık Yap</a></li>
    						<li><a href="#multiurl" id="multiurl">Linke Sahip Herkese Açık Yap</a></li>
    						<li><a href="#multiprivate" id="multiprivate">Bana Özel Yap</a></li>
    					</ul>
    				</div>
    			</th>
    			<th>{{ video_count }} Video Bulundu</th>
    			<th>Yüklenme Tarihi</th>
    			<th>Video Süresi</th>
    			<th>İzlenme Sayısı</th>
    			<th>
    				<span class="glyphicon glyphicon-globe"></span>
    				<span class="glyphicon glyphicon-lock"></span>
    				<span class="glyphicon glyphicon-link"></span>
    			</th>
                <th><a href="/add_video/">Video Ekle</a></th>
    		</tr>
            {% for video in my_videos %}
    		<tr>
    			<td>
                    <input type="checkbox" name="videos" class="videos" value="{{ video.id }}">
                </td>
    			<td><img src="/uploads/{{ video.video_image }}" width="100" height="100" />
    			</td>
    			<td>{{ video.name }}</td>
    			<td>{{ video.upload_date }}</td>
    			<td>00:00</td>
    			<td>0</td>
    			<td>
                    {% if video.sharing_permissions == 1 %}
                    <span class="glyphicon glyphicon-globe"></span>
                    {% elif video.sharing_permissions == 2 %}
                    <span class="glyphicon glyphicon-link"></span>
                    {% elif video.sharing_permissions == 3 %}
                    <span class="glyphicon glyphicon-lock"></span>
                    {% else %}
                    {% endif %}
                </td>
    			<td>
    				<div class="btn-group">
    					<button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown">
    						Seçenekler <span class="caret"></span>
    					</button>
    					<ul class="dropdown-menu" role="menu">
                            <li><a href="/edit_video/{{ video.id }}">Düzenle</a></li>
    						<li><a href="/del_video/{{ video.id }}">Sil</a></li>
    					</ul>
    				</div>
    			</td>
    		</tr>
            {% endfor %}
    	</table>
    </div>



    <!-- modals -->
    <div id="update_cat" class="modal fade" data-backdrop="static">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Kategory sec</h4>
        </div>
        <div class="modal-body">
          <div>
            <form role="form">
              <div class="form-group">
                <label for="name">Kategory Seciniz:</label>
                <!-- <input type="text" class="form-control" id="title" name="listname"> -->
                <select id="category" class="form-control">
                    {% for c in kategoriler %}
                    <option value="{{c.id}}">{{c.name}}</option>
                    {% endfor %}
                </select>
              </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" id="update_cat1" class="btn btn-primary">Kaydet</button>
        </div>
            </form>
    </div>
  </div>
</div>


 <div id="add_to_list" class="modal fade" data-backdrop="static">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Liste sec</h4>
        </div>
        <div class="modal-body">
          <div>
            <form role="form">
              <div class="form-group">
                <label for="name">Liste Seciniz:</label>
                <!-- <input type="text" class="form-control" id="title" name="listname"> -->
                <select id="list" class="form-control">
                    {% for list in lists %}
                    <option value="{{list.id}}">{{list.playlist_name}}</option>
                    {% endfor %}
                </select>
              </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" id="addto_list" class="btn btn-primary">Kaydet</button>
        </div>
            </form>
    </div>
  </div>
</div>


<div id="addtag" class="modal fade" data-backdrop="static">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Liste sec</h4>
        </div>
        <div class="modal-body">
          <div>
            <form role="form">
              <div class="form-group">
                <label for="name">Etiket Ekleyiniz:</label>
                <!-- <input type="text" class="form-control" id="title" name="listname"> -->
                <input class="form-control" type="text" placeholder="enter tag" id="tags">
              </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" id="addtags" class="form-control btn btn-primary">Kaydet</button>
          <p align="left"><small>Not:Bir videoya en fazla 6 adet etiket girilebilir. "," ile ayırarak çoklu etiket bilgisi girebilirsiniz.</small></p>
        </div>
            </form>
    </div>
  </div>
</div>

<script type="text/javascript">
$("#all_input").click(function(){
    if (this.checked == false){
        $('input:checkbox.videos').each(function () {
        this.checked = false;
        });      
    }
    else{
    $('input:checkbox.videos').each(function () {
    this.checked = true;
    });  
    }
});


$('.videos').click(function(){
    // customize
});
$("#update_cat1").click(function(){
    var sThisVal = [];
    $('input:checkbox.videos').each(function () {
       if(this.checked)
            sThisVal.push($(this).val());
    });
    if (sThisVal.join(',') == ',')
        console.log();
    else
        {
            //alert($("#category option:selected").val());
            $.ajax({
                 type: "POST",
                 url: "{% url "coklu_kategori_degistir" %}",
                 data: {'ids': sThisVal.join(','), 'csrfmiddlewaretoken': '{{csrf_token}}', 'category': $("#category option:selected").val()},
                 dataType: "text",
                 success: function(rs) {
                     $("#update_cat").modal('hide');
                     $("input:checkbox").each(function(){
                        this.checked = false;
                     });
                  },
                  error: function(rs, e) {
                        alert(rs.responseText);
                  }
            });
        }
   return false;
});

$("#addto_list").click(function(){
    var sThisVal = [];
    $('input:checkbox.videos').each(function () {
       if(this.checked)
            sThisVal.push($(this).val());
    });
    if (sThisVal.join(',') == ',')
        console.log();
    else
        {
            //alert($("#category option:selected").val());
            $.ajax({
                 type: "POST",
                 url: "{% url 'add-multi-list' %}",
                 data: {'ids': sThisVal.join(','), 'csrfmiddlewaretoken': '{{csrf_token}}', 'list': $("#list option:selected").val()},
                 
                 dataType: "text",
                 success: function(rs) {
                     $("#add_to_list").modal('hide');
                     $("input:checkbox").each(function(){
                        this.checked = false;
                     });
                  },
                  error: function(rs, e) {
                        alert(rs.responseText);
                  }
            });
        }
   return false;
});

$("#delmulti").click(function(){
    var sThisVal = [];
    $('input:checkbox.videos').each(function () {
       if(this.checked)
            sThisVal.push($(this).val());
    });
    if (sThisVal.join(',') == ',')
        console.log();
    else
        {
            //alert($("#category option:selected").val());
            $.ajax({
                 type: "POST",
                 url: "{% url 'coklu_sil' %}",
                 data: {'ids': sThisVal.join(','), 'csrfmiddlewaretoken': '{{csrf_token}}'},
                 
                 dataType: "text",
                 success: function(rs) {
                    $(".dropdown-menu").hide();
                     $("input:checkbox").each(function(){
                        this.checked = false;
                     });
                  },
                  error: function(rs, e) {
                        alert(rs.responseText);
                  }
            });
        }
   return false;
});


$("#addtags").click(function(){
    var sThisVal = [];
    $('input:checkbox.videos').each(function () {
        if(this.checked)
            sThisVal.push($(this).val());
    });
    if (sThisVal.join(',') == ',')
        console.log();
    else
        {
            //alert(sThisVal.join(','));
            $.ajax({
                 type: "POST",
                 url: "{% url 'add-multi-tag' %}",
                 data: {'ids': sThisVal.join(','), 'csrfmiddlewaretoken': '{{csrf_token}}', 'tags': $("#tags").val()},
                 
                 dataType: "text",
                 success: function(rs) {
                    $("#addtag").modal('hide');
                     $("input:checkbox").each(function(){
                        this.checked = false;
                     });
                  },
                  error: function(rs, e) {
                        alert(rs.responseText);
                  }
            });
        }
   return false;
});

$("#multipublic").click(function(){
    var sThisVal = [];
    $('input:checkbox.videos').each(function () {
       if(this.checked)
            sThisVal.push($(this).val());
    });
    if (sThisVal.join(',') == ',')
        console.log();
    else
        {
            //alert($("#category option:selected").val());
            $.ajax({
                 type: "POST",
                 url: "{% url 'make-multi-public' %}",
                 data: {'ids': sThisVal.join(','), 'csrfmiddlewaretoken': '{{csrf_token}}'},
                 
                 dataType: "text",
                 success: function(rs) {
                    $(".dropdown-menu").hide();
                     $("input:checkbox").each(function(){
                        this.checked = false;
                     });
                  },
                  error: function(rs, e) {
                        alert(rs.responseText);
                  }
            });
        }
   return false;
});


$("#multiurl").click(function(){
    var sThisVal = [];
    $('input:checkbox.videos').each(function () {
       if(this.checked)
            sThisVal.push($(this).val());
    });
    if (sThisVal.join(',') == ',')
        console.log();
    else
        {
            //alert($("#category option:selected").val());
            $.ajax({
                 type: "POST",
                 url: "{% url 'make-multi-owner-public' %}",
                 data: {'ids': sThisVal.join(','), 'csrfmiddlewaretoken': '{{csrf_token}}'},
                 
                 dataType: "text",
                 success: function(rs) {
                    $(".dropdown-menu").hide();
                     $("input:checkbox").each(function(){
                        this.checked = false;
                     });
                  },
                  error: function(rs, e) {
                        alert(rs.responseText);
                  }
            });
        }
   return false;
});


$("#multiprivate").click(function(){
    var sThisVal = [];
    $('input:checkbox.videos').each(function () {
       if(this.checked)
            sThisVal.push($(this).val());
    });
    if (sThisVal.join(',') == ',')
        console.log();
    else
        {
            //alert($("#category option:selected").val());
            $.ajax({
                 type: "POST",
                 url: "{% url 'make-multi-private' %}",
                 data: {'ids': sThisVal.join(','), 'csrfmiddlewaretoken': '{{csrf_token}}'},
                 
                 dataType: "text",
                 success: function(rs) {
                    $(".dropdown-menu").hide();
                     $("input:checkbox").each(function(){
                        this.checked = false;
                     });
                  },
                  error: function(rs, e) {
                        alert(rs.responseText);
                  }
            });
        }
   return false;
});
    
</script>

    <script src="/template/static/js/manager.js"></script>
    {% include "footer.html" %}