<div id="new" class="modal fade" data-backdrop="static">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title">Yeni Playlist</h4>
            </div>
            <div class="modal-body">
              <div>
                <form role="form">
                 <div class="form-group">
                  <label for="name">Playlist Adı Giriniz:</label>
                  <input type="text" class="form-control" id="title" name="listname">
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="submit" id="nplaylist"class="btn btn-primary">Kaydet</button>
            <script>
            $('#nplaylist').click(function(){
            $.ajax({
                     type: "POST",
                     url: "{% url "newlist" %}",
                     data: {'name': $('#title').val(), 'csrfmiddlewaretoken': '{{csrf_token}}'},
                     dataType: "text",
                     success: function(response) {
                            //alert('You liked this')
                      },
                      error: function(rs, e) {
                            alert(rs.responseText);
                      }
                }); 
           })
          </script>
            </div>
          </form>
        </div>
      </div>
    </div>