    {% include "header.html" %}
    <div class="container">
    	{% if registered %}
       <a href="/">Return to the homepage.</a><br />
       {% else %}
       <form id="user_form" method="post" action="/register/">
           {% csrf_token %}
           <table>
               {% for field in user_form %}
               <tr>
                   <td>{{ field.label_tag }}</td>
                   <td>{{ field }}</td>
                   <td>{{ field.errors }}</td>
               </tr>
               {% endfor %}
               {% for field in profile_form %}
               <tr>
                   <td>{{ field.label_tag }}</td>
                   <td>{{ field }}</td>
                   <td>{{ field.errors }}</td>
               </tr>
               {% endfor %}
           </table>
           <!-- Provide a button to click to submit the form. -->
           <input type="submit" name="submit" value="Register" />
       </form>
       {% endif %}
   </div>
   {% include "footer.html" %}