    {% include "header.html" %}
    <div class="container">
    	<form action="/register/" method="post" class="form-horizontal">
    		<fieldset>
    			<div id="legend">
    				<legend class="">Kayıt Ol</legend>
    			</div>
    			{% csrf_token %}
    			{% for field in form.visible_fields %}
    			<div class="control-group">
    				<label class="control-label"  for="username">{{ field.label_tag }}</label>
    				<div class="controls">
    					{{ field }}
    					<p class="help-block">{{ field.errors }}</p>
    				</div>
    			</div>
    			{% endfor %}

    			<div class="control-group">
    				<!-- Button -->
    				<div class="controls">
    					<input type="submit" value="Kaydı Tamamla" class="btn btn-success" />
    				</div>
    			</div>
    		</fieldset>
    	</form>
</div>
{% include "footer.html" %}