{% include "header.html" %}
<div class="container">
	<h1 align="center">Change Password</h1>
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3">
		<form method="post" id="passwordForm" action="#">
				{% csrf_token %}
				<input type="text" class="input-lg form-control" name="old_password" id="old_password" placeholder="Eski Sifrenizi Giriniz" autocomplete="off">
				<br>
				<input type="password" class="input-lg form-control" name="new_password1" id="password1" placeholder="Yeni Şifrenizi Giriniz" autocomplete="off">
				<br>
				<input type="password" class="input-lg form-control" name="new_password2" id="password2" placeholder="Şifreyi Tekrar Giriniz" autocomplete="off">
				<br>
				<input type="submit" class="col-xs-12 btn btn-primary btn-load btn-lg" value="Tamamla">
			</form>
		</div><!--/col-sm-6-->
	</div><!--/row-->
</div>
{% include "footer.html" %}