    {% include "header.html" %}
    <div class="container">
    	<h1>Kullanıcı Bildirim Ayarları</h1>
    	<h3>Bu durumlarda bana bildirim gönder</h3>
    	<table width="100%">
    		<tr>
    			<th></th>
    			<th>SİTE İÇİ BİLDİRİM</th>
    			<th>E-POSTA</th>
    			<th>MOBİL BİLDİRİM</th>
    			<th>FACEBOOK BİLDİRİMLERİ</th>
    		</tr>
    		<tr>
    			<td>İzlesene'de Haftanın Popüler Kanalları</td>
    			<td><input type="checkbox"></td>
    			<td><input type="checkbox"></td>
    			<td><input type="checkbox"></td>
    			<td><input type="checkbox"></td>
    		</tr>
    		<tr>
    			<td>İzlesene'de Haftanın Videosu</td>
    			<td><input type="checkbox"></td>
    			<td><input type="checkbox"></td>
    			<td><input type="checkbox"></td>
    			<td><input type="checkbox"></td>
    		</tr>
    		<tr>
    			<td>Abone Olduğum Kanalların Yüklediği Videolar</td>
    			<td><input type="checkbox"></td>
    			<td><input type="checkbox"></td>
    			<td><input type="checkbox"></td>
    			<td><input type="checkbox"></td>
    		</tr>
    		<tr>
    			<td>Abone Olduğum Kanalların Haftalık Videoları</td>
    			<td><input type="checkbox"></td>
    			<td><input type="checkbox"></td>
    			<td><input type="checkbox"></td>
    			<td><input type="checkbox"></td>
    		</tr>
    		<tr>
    			<td>Abone Olduğum Kanalların Oluşturduğu Playlisti</td>
    			<td><input type="checkbox"></td>
    			<td><input type="checkbox"></td>
    			<td><input type="checkbox"></td>
    			<td><input type="checkbox"></td>
    		</tr>
    		<tr>
    			<td>Abone Olduğum Kanalların Abone Olduğu Kanallar</td>
    			<td><input type="checkbox"></td>
    			<td><input type="checkbox"></td>
    			<td><input type="checkbox"></td>
    			<td><input type="checkbox"></td>
    		</tr>
    		<tr>
    			<td>Abone Olduğum Kategoriye Yeni Bir Video Yüklendiğinde</td>
    			<td><input type="checkbox"></td>
    			<td><input type="checkbox"></td>
    			<td><input type="checkbox"></td>
    			<td><input type="checkbox"></td>
    		</tr>
    		<tr>
    			<td>Abone Olduğum Müzik Türüne Yeni Bir Video Yüklendiğinde</td>
    			<td><input type="checkbox"></td>
    			<td><input type="checkbox"></td>
    			<td><input type="checkbox"></td>
    			<td><input type="checkbox"></td>
    		</tr>
    		<tr>
    			<td>Yüklediğim Videolar Telif Hakkı Nedeniyle Silinirse</td>
    			<td><input type="checkbox"></td>
    			<td><input type="checkbox"></td>
    			<td><input type="checkbox"></td>
    			<td><input type="checkbox"></td>
    		</tr>
    		<tr>
    			<td>Yüklediğim Videolar Telif Hakkı Nedeniyle Taşınırsa</td>
    			<td><input type="checkbox"></td>
    			<td><input type="checkbox"></td>
    			<td><input type="checkbox"></td>
    			<td><input type="checkbox"></td>
    		</tr>
    	</table>
    </div>
    {% include "footer.html" %}